/* Laptops and Desktops */
@media (min-width: 1025px) {
    /* Styles for laptops and desktops */
    .about{
        margin-left: 80px;
        margin-right: 80px;
        padding-top: 96px;
        padding-bottom: 96px;
        font-family: 'Montserrat', sans-serif;
    }
    .cards-header-a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 48px;
    }
    .cards-header-a > h4{
        font-weight: 200;
        background-color: rgba(255, 255, 255,0.1);
        border-radius: 10px;
        padding: 7px;
    }
    .cards-a{
        padding-left: 32px;
        padding-right: 32px;
        gap: 40px;
        display: flex;
        flex-direction: row;
    }
    .card-1-a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-1-a-img{
        width: 450px;
        border-radius: 56px;
        background: rgba(255, 255, 255, 0.1);
    }
    .card-2-a{
        font-size: medium;
    }
    .card-2-a > h3{
        font-size: medium;
        font-weight: 300px;
    }
    .li{
        padding-left: 50px;
    }

}


/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    .about{
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 96px;
        padding-bottom: 96px;
        font-family: 'Montserrat', sans-serif;
    }
    .cards-header-a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }
    .cards-header-a > h4{
        font-weight: 200;
        background-color: rgb(198, 198, 198);
        border-radius: 10px;
        padding: 7px;
    }
    .cards-a{
        padding-left: 32px;
        padding-right: 32px;
        gap: 40px;
        display: flex;
        flex-direction: column;
    }
    .card-1-a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-1-a-img{
        width: 350px;
        border-radius: 56px;
        background: rgba(255, 255, 255, 0.1);
    }
    .card-2-a{
        font-size: medium;
    }
    .card-2-a > h3{
        font-size: medium;
        font-weight: 300px;
    }
    .li{
        padding-left: 50px;
    }

}

/* Phones */
@media (max-width: 767px) {
    /* Your styles for phones */
    .about{
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 96px;
        padding-bottom: 96px;
        font-family: 'Montserrat', sans-serif;
    }
    .cards-header-a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
        margin-bottom: 48px;
    }
    .cards-header-a > h4{
        font-weight: 200;
        background-color: rgba(255, 255, 255,0.1);
        border-radius: 10px;
        padding: 7px;
    }
    .cards-a{
        padding-left: 32px;
        padding-right: 32px;
        gap: 40px;
        display: flex;
        flex-direction: column;
    }
    .card-1-a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-1-a-img{
        border-radius: 56px;
        width: 300px;
        background: rgba(255, 255, 255, 0.1);
    }
    .card-2-a{
        font-size: medium;
    }
    .card-2-a > h3{
        font-weight: 600;
    }
    .li{
        padding-left: 50px;
    }
    
}